html, body{
	
margin:0;
padding:0;
			
	}

#body{
background-color:white;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:10pt;
	}

#wrapper{
width:950px;
margin-left:auto;
margin-right:auto;	
background-color:white;
}




#wrapper1{
font-family:comic sans-serif;
width:950px;
margin-left:auto;
margin-right:auto;	
background-color:white;
}


#heading1{
font-family:comic sans-serif;
color:red;
font-size:25px;
text-align: center;
}

#heading2{
font-family:comic sans-serif;
color:#3399CC;
font-size:25px;
text-align: center;
}


#heading4{
font-family:comic sans-serif;
color:black;
font-size:25px;
text-align: center;
}

#h3{
color:#006633;
text-align: center;
}
 



footer, section, article{
color:black;		
text-decoration: none;
	
			
	}
	
#header{
background-color:white;
width:950px;
}
	

#nav {
width: 100%;
text-align:center;
margin: 0 0 3em 0;
padding: 0;
list-style: none;
background-color:#006633;
border-bottom: 1px solid #ccc; 
border-top: 1px solid #ccc; }

#nav li {
	
text-align:center;
border-right: 0px;
	}

#nav li a {
display: block;
padding: 8px 15px;
text-decoration: none;
font-weight: bold;
text-align:center;
color:white;
border-right: 0px solid #ccc; }



#nav li {
   display: inline-block;
   text-align:center; 
}	

table,th,td {
	align:center;
	width:950px;
}

table1{
align:center;
width:950px;
border:gray;
}

th,td {
	align:center;
	width:950px;
}

#wrapper2{
color:black;
font-family:geneva sans-serif;
margin-left:auto;
margin-right:auto;	
background-color:#F0F0F0 ;
}

#wrapper3{
font-family:comic sans-serif;
margin-left:auto;
margin-right:auto;	
background-color:white;

}

#wrapper4{
font-family:comic sans-serif;
margin-left:auto;
margin-right:auto;	
background-color:#F0F0F0 ;
}








#wrap-heating{
	
width:1050px;
height:auto;
clear:both;
}
#aircon{
	list-style-type:none;
	font-family:'Open Sans', sans-serif;
}
#heating-pic{
	margin-top:10px;
}
#heat-2{
	margin-top:-20px;
	list-style-type:none;
}
.heating-1{
	margin-left:-40px;
	margin-top:-260px;
	list-style-type:none;
	display:inline-table;
}
.table-top{
	width:317px;
	height:65px;
	background-color:#7f8c8d;
	color:white;
	text-align:center;
}
.rows{
	width:315px;
	height:40px;
	background-color:#f7f7f7;
	border:1px solid #eee;
	text-align:left;

}
.top p{
	margin-top:10px;
	margin-left:10px;
}
.top p{
	font-family:'Open Sans', sans-serif;
	font-size:32px;
	padding-top:10px;
}

#ht{
	margin-left:-40px;
	margin-top:6px;
}
.heat-3{
	margin-left:-40px;
	margin-top:-135px;
	list-style-type:none;
	display:inline-table;
	font-family:'Open Sans', sans-serif;
}
.heat-3 p{
	margin-top:10px;
	margin-left:10px;
}
ul{
	list-style-type:none;
}


#wrap-HEAT{
	font-family:		"Open Sans", sans-serif;
	background-color:	#eef1f5;
	text-align:			center;
}
#wrap-HEAT h2{
	padding-top:		40px;
	padding-bottom:		20px;
	color:				#cc3333;
}
#wrap-HEAT-txt{
	line-height:		4px;
	padding-bottom:		40px;
}
#wrap-HEAT-img{
	padding-bottom:		40px;
	margin:				0 auto;
